{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} TITLE {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
<h1 class="title">URL Shortener</h1>
<div class="topnav">
  <a class="active" href="{% url 'homepage:index' %}">Home</a>
  <a href="#news">Statistics</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
    <a href="{% url 'onboarding:sign-in' %}">Sign In</a>
  <a href="{% url 'onboarding:sign-up' %}">Sign Up</a>
</div>
{% block body %} BODY {% endblock %}
</body>


