{% extends "_base.html" %}


{% block title %}API Guide{% endblock %}


{% block body %}
<body>

<h1 class="api-title">API Guide</h1>
<p>To start using our API you need to be authenticated to get unique API token</p>
<p>After that on this page you will get a special API token,which is used for making requests to our API.</p>
<p>Our API allows:</p>
    <ul>
        <li>getting information about your own links</li>
        <li>shortening your links</li>
        <li>deletion your links</li>
    </ul>

</body>

{% endblock %}

