[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
isort = "*"
ipython = "*"
pytest = "*"
pytest-selenium = "*"
pytest-ordering = "*"

[packages]
django = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"], version = "*"}
psycopg2-binary = "*"
sentry-sdk = "*"
whitenoise = "*"
jinja2 = "*"
django-countries = "*"
social-auth-app-django = "*"
httpagentparser = "*"
geoip2 = "*"
boto3 = "*"
django-storages = "*"
djangorestframework = "*"

[requires]
python_version = "3.8"
