
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} TITLE {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static ('main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
<h1 class="title">URL Shortener</h1>
<div class="topnav">
  <a class="active" href="{{ url ('homepage:index') }}">Home</a>
  <a href="{{ url ('statistics:links') }} ">Statistics</a>
  <a href="{{ url ('api_guide:index') }}">API Guide</a>
    {% if not user.is_authenticated %}
    <a href="{{ url ('onboarding:sign-in') }}">Sign In</a>
  <a href="{{ url ('onboarding:sign-up') }}">Sign Up</a>

    <a href="{{ url ('social:begin', args=['vk-oauth2']) }}">VK</a>
    <a href="{{ url ('social:begin', args=['google-oauth2']) }}">Google+</a>
    {% endif %}

    {% if user.is_authenticated %}

        {% if user.first_name and user.last_name %}
            <a class="profile" href="#">{{ user.first_name }} {{ user.last_name }}</a>
        {% else %}
            <a href="#">{{ user.username }}</a>
        {% endif %}
    <a id="sign-out" href="{{ url ('onboarding:sign-out') }}">Sign Out</a>
    {% endif %}
</div>
{% block body %} BODY {% endblock %}
</body>


