{% extends "_base.html" %}


{% block title %} Statistics {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<div class="stats-container inline">
    <div class="stats-title">
        <div class="stats-shortcut"><a href="{{ object.shortcut }}"><h1>{{ object.shortcut }}</h1></a></div>
        {% if object.original|length() > 100 %}
        <div class="stats-original"><h2>Original:</h2><a href="{{ object.original }}">{{ object.original|truncate(80) }}</a></div>
        {% else %}
        <div class="stats-original"><h2>Original:</h2><a href="{{ object.original }}">{{ object.original }}</a></div>
        {% endif %}

    </div>
    <div class="total">
        <div class="count">{{ hits|length }}</div>
    <div class="click-text">Total clicks</div>
</div>
</div>

<div class="hits">
    <table>
         <tr class="table-title" >
                    <td class="tag ip">IP</td>
                    <td class="tag location">Location</td>
                    <td class="tag date">Date</td>
                    <td class="tag browser">Browser</td>
                    <td class="tag os">OS</td>
         </tr>

            {% for hit in hits %}

                        <tr class="params">
                            <td>{{ hit.ip_address }}</td>
                            <td>{{ hit.location }}</td>
                            <td>{{ hit.time.strftime('%Y-%m-%d, %H:%M') }}</td>
                            <td>{{ hit.browser }}</td>
                            <td>{{ hit.os }}</td>
                        </tr>

            {% endfor %}

    </table>
</div>
{% endblock %}
