{% extends "_base.html" %}


{% block title %} Statistics {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<div class="stats-container inline">
    <div class="stats-title">
        <div class="stats-shortcut"><a href="{{ object.shortcut }}"><h1>{{ object.shortcut }}</h1></a></div>
        {% if object.original|length() > 100 %}
        <div class="stats-original"><h2>Original:</h2><a href="{{ object.original }}">{{ object.original|truncate(80) }}</a></div>
        {% else %}
        <div class="stats-original"><h2>Original:</h2><a href="{{ object.original }}">{{ object.original }}</a></div>
        {% endif %}

    </div>
</div>
{% endblock %}
